*{
    border-style: dashed;
    border-color: red;
}

#photo-box{
    width: 40%;
    padding-left: 2%;
    /* border-right: 1px; */
  }
  
  /* Applicant photo setup */
  #photo-box > img{
    object-fit: cover;
    width: 100%;
  }

header{
    display: flex;
    justify-content: space-between;
    margin: 2vh;
    align-items: center;
    flex-grow: 1;
}

header > h1{
    font-size: 40px;
    text-align: center;
    width: 100%;
}

header > button{
    margin-left:  auto;
}


