*{
    /* border-style: dashed;
    border-color: red; */
}


header{
    display: flex;
    height: 10vh;
    justify-content: center;
    font-size: 36px;
    align-items: center;
    border: 3px solid aquamarine;
 
}


#search-bar{
    margin: 2vh;
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

#search-bar > form{
    margin: 2vh;
}
#TCG-search-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#TCG-search-results > img{
   height: 35vh;
   width: 25vh;
 
}

#tcg-pokemon-name{
    margin: 2vh;
    /* padding: 5vh; */
}


#card-display{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid aquamarine;
    /* border-style: solid; */
    border-color: aquamarine;
}



.searchResultsHeader{
    width: 100%;
}

.searchResultsHeader > tr{
    width: 100%;
    
}


#search-results-container {
    /* width: 100%; */
    padding: 20px;
    /* border-style: solid; */
    border-top:4px solid aquamarine;
    /* border-color: aquamarine; */

    width: 100%; /* Ensure the container spans the entire width of its parent */
    margin: 0 auto; /* Center the container horizontally if needed */
  }
  
  #searchResultsTable {
    width: 100%; /* Make the table fill the width of its container */
    border-collapse: collapse; /* Optional: Collapses the border spacing between table cells */
  }
  
  #searchResultsTable th,
  #searchResultsTable td {
    padding: 8px; /* Adjust padding as needed */
    text-align: left; /* Align text within table cells */
    border: 1px solid #ddd; /* Optional: Add borders around table cells */
  }
  
  #searchResultsTable thead {
    background-color: #f2f2f2; /* Optional: Background color for table header */
  }

  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}